<!--about section start -->
<div class="about_section layout_padding mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image_2"><img src="~/assets/images/img-2.png"></div>
            </div>
            <div class="col-md-6">
                <h1 class="about_taital">About <span class="us_text">Us</span></h1>
                <p class="about_text">
                    "DocCraft: Your one-stop solution for stunning, tailor-made documents. Our expertise lies in creating visually captivating reports, presentations, and brochures that make a lasting impact. We offer comprehensive services including design, formatting, and printing, ensuring your documents are ready for distribution. Trust us to exceed your expectations with our dedication to quality and attention to detail. Explore the possibilities with DocCraft today!"
                </p>
                <div class="read_bt_1"><a href="#">Read More</a></div>
            </div>
        </div>
    </div>
</div>
<!--about section end -->